.container{
    background-color: orange;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 700px;
    height: 600px;
    text-align: center;
    /* position: fixed;
    top: 200px;
    left: 100px; */
}

.box{
    width: 350px;
    height: 100px; 
    border-color: black; 
    border-style: solid;
    border-width: 1px;
    text-align: center;
    color: #ffffff;
}

.box-1{
    /* text-align: left; */
    background-color: rgb(51, 231, 153);
    /* position: absolute; */
    /* bottom: 0px; */
    /* top: 50px;
    left: 200px;
    z-index: 100;  */
        
}

.box-2{
    /* text-align: left; */
    background-color: rgb(28, 192, 228);
    position: sticky;
    top: 30px;
    /* position: relative; 
    left: 0px;  /* left takes precendence over right due to overspecification 
    right: 60px; 
    top: 0px;    top takes precendence over bottom due to overspecification
    bottom: 40px;
    /* z-index: 10;  /* define precendence of elements on overlying layers, works with positions other than static
    position: relative; */

}

.box-3{
    /* text-align: left; */
    background-color: rgb(107, 105, 103);
    /* z-index: 10;  /* define precendence of elements on overlying layers, works with positions other than static
    position: relative; */

}