html{
    font-family: "Verdana", sans-serif;
    background-color: rosybrown;
}
h1, h2{
    font-family: "Arial";
    color: blueviolet;
    background-color: aquamarine;
    display: block;
}
p{

    color: green;
    background-color: aquamarine;
    text-align: center;
    display: block;
}

ul{
    
    color: blue;
    background-color: yellowgreen;

}
ul li{
    
    color: black;
    background-color: seashell; 
}
section{
    color: red;
    background-color: yellowgreen;
    display: block;
    border: 2px solid;
    border-color:blue;
}

section article{
  
    color: brown;
    background-color: orange;
    display: block;
    text-align: right;
}

.main {
    color: black;
    background-color: rgb(88, 179, 173);
    display: inline;
}

.main > article {
    background-color: rgb(79, 63, 174);
    display: inline;
}


